---
layout: default

eleventyComputed:
  title: 'Catalog — {{ settings.name | replace("[yyyy]", showDate.toFormat("yyyy")) }}'
---

<div
  class="mb-10 bg-yellow-100 bg-cover bg-center"
  style="background-image: url('{{ headerImage }}')"
>
  <div class="py-20" style="background-color: hsl(40, 80%, 50%, 0.5)">
    <div class="container p-5">
      <h1 class="font-bold font-serif" style="text-shadow: 0 0 0.5em white">
        Catalog
      </h1>
    </div>
  </div>
</div>

{% import "partials/dog-info.html" as info %}
{% import "partials/dog-tiles.html" as tiles %}

{#
  Leave left margin for placements?
#}
<div class="container prose lg:prose-lg xl:prose-xl 2xl:prose-2xl relative">
  <div class="ml-15 sm:ml-10 md:ml-0 relative">
    <h2 class="text-3xl">African Stock Exhibition</h2>

    {% for ageClass in ["puppy","adult","veteran"] %}
      <h3 class="">{{ ageClass | capitalize | pluralize }}</h3>
      {% for sex in ["M","F"] %}
        {% for quotient in ["full","three_quarter","half","one_quarter"] %}
          {% set classDogs = dogs | match({ ase: true, ageClass:ageClass, sex: sex, quotient: quotient }) | sort(false, false, "armband") %}
            {% if (classDogs | length) > 0 %}
              <h4>{{ "Dogs" if sex === "M" else "Bitches" }}: {{ info.quotient(quotient) }} African {{ ageClass | capitalize }}</h4>
              {% for dog in classDogs %}
                {% if dog.absent %}
                  <div class="absolute -left-15 w-15 text-gray-400 italic">absent</div>
                {% endif %}
                {% if dog.classPlace %}
                  <div class="absolute -left-15 w-22 text-yellow-700">
                    {{ dog.classPlace | ordinalize | safe }}
                    {%- if dog.award -%}
                      <br/> <b>{{ info.awardShort(dog.award, ageClass) }}</b>
                    {%- endif -%}
                  </div>
                {% endif %}
                <div class="mb-3 flex gap-4">
                  <div class="w-[3ch] text-right">{{ dog.armband }}</div>

                  <div class="">
                    <div class=""><a class="no-underline hover:underline" href="/dogs/{{ dog.id }}/"><b>{{ info.dogNameFields(dog) | trim }}</b></a></div>
                    <div class="">Breeder: {{ dog.breeder }}</div>
                    <div class="">{{ info.dogNameFields(dog.ancestors.sire) | trim }} &times; {{ info.dogNameFields(dog.ancestors.dam) | trim }}</div>
                    <div class="">Owner: {{ dog.owner }}</div>
                  </div>
                </div>
              {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

